<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <socialshare>
            <general>
                <enable>1</enable>
                <display_text>Hello World</display_text>
            </general>
            <url>
                <use_custom>
                    <enable>1</enable>
                </use_custom>
            </url>
        </socialshare>
    </default>
</config>